<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="../static/js/revisao.js"></script>
</head>
<body>

        <div id="display">
             XYZ
        </div>
        <div id="campos">
            Nome: <input type="text" id="txtNome" value=""/>

            <input type="button" value="+" onclick="novoContato()">
            <input type="button" value="OK" onclick="imprimirDados()"/>

<form name ="fromContato">
    <div id="listaContatos">
    </div>
</form>
            <div id="saidaContatos">
            </div>
        </div>
</body>
</html>